[role=tab] {
  background: #eee;
  border: none;
  display: block;
  font: inherit;
  text-align: left;
  width: 100%;
  -webkit-appearance: none;
}

[role=tab]:before {
  content: '+ ';
}

[role=tab][aria-expanded=true] {
  background: #000;
  color: #fff;
}

[role=tab][aria-expanded=true]:before {
  content: '- ';
}

[aria-hidden=true] {
  display: none;
}

